* {
  all: unset;
  font-size: 11px;
  font-family: "MartianMono Nerd Font", "Symbols Nerd Font Mono";
  transition: 350ms;
}

trough highlight {
  background: #a6e3a1; /* Green */
}

scale {
  margin: 0 7px;
}

scale trough {
  margin: 0rem 10rem;
  min-height: 8px;
  min-width: 70px;
  border-radius: 12.6px;
}

trough slider {
  margin: -10px;
  border-radius: 12.6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease;
  background-color: #89b4fa; /* Blue */
}

trough slider:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8), 0 0 8px #89b4fa;
}

trough {
  background-color: #313244; /* Surface0 */
}

.notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3), inset 0 0 0 1px #45475a; /* Surface1 */
  border-radius: 12.6px;
  margin: 18px;
  background: #1e1e2e; /* Base */
  color: #cdd6f4; /* Text */
  padding: 0;
}

.notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;
}

.notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #f38ba8; /* Red */
}

.notification .notification-content {
  margin: 7px;
}

.notification .notification-content overlay {
  margin: 4px;
}

.notification-content .summary {
  color: #cdd6f4; /* Text */
}

.notification-content .time {
  color: #a6adc8; /* Subtext0 */
}

.notification-content .body {
  color: #bac2de; /* Subtext1 */
}

.notification > *:last-child > * {
  min-height: 3.4em;
}

.notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #1e1e2e; /* Base */
  background-color: #f38ba8; /* Red */
}

.notification-background .close-button:hover {
  background-color: #fab387; /* Peach */
}

.notification-background .close-button:active {
  background-color: #f9e2af; /* Yellow */
}

.notification .notification-action {
  border-radius: 7px;
  color: #cdd6f4; /* Text */
  box-shadow: inset 0 0 0 1px #45475a; /* Surface1 */
  margin: 4px;
  padding: 8px;
  font-size: 0.2rem;
  background-color: #313244; /* Surface0 */
}

.notification .notification-action:hover {
  background-color: #45475a; /* Surface1 */
}

.notification .notification-action:active {
  background-color: #585b70; /* Surface2 */
}

.notification.critical progress {
  background-color: #f38ba8; /* Red */
}

.notification.low progress,
.notification.normal progress {
  background-color: #a6e3a1; /* Green */
}

.notification progress,
.notification trough,
.notification progressbar {
  border-radius: 12.6px;
  padding: 3px 0;
}

.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #313244; /* Surface0 */
  border-radius: 12.6px;
  background-color: #1e1e2e; /* Base */
  color: #cdd6f4; /* Text */
  padding: 14px;
}

.control-center .notification-background {
  border-radius: 7px;
  box-shadow: inset 0 0 0 1px #45475a; /* Surface1 */
  margin: 4px 10px;
}

.control-center .notification-background .notification {
  border-radius: 7px;
}

.control-center .notification-background .notification.low {
  opacity: 0.8;
}

.control-center .widget-title > label {
  color: #cdd6f4; /* Text */
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: #cdd6f4; /* Text */
  background-color: #313244; /* Surface0 */
  box-shadow: inset 0 0 0 1px #45475a; /* Surface1 */
  padding: 8px;
}

.control-center .widget-title button:hover {
  background-color: #45475a; /* Surface1 */
}

.control-center .widget-title button:active {
  background-color: #585b70; /* Surface2 */
}

.control-center .notification-group {
  margin-top: 10px;
}

scrollbar slider {
  margin: -3px;
  opacity: 0.8;
}

scrollbar trough {
  margin: 2px 0;
}

.widget-dnd {
  margin-top: 5px;
  border-radius: 8px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: #313244; /* Surface0 */
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: #a6e3a1; /* Green */
}

.widget-dnd > switch slider {
  background: #45475a; /* Surface1 */
  border-radius: 8px;
}

.widget-mpris-player {
  background: #313244; /* Surface0 */
  border-radius: 12.6px;
  color: #cdd6f4; /* Text */
}

.mpris-overlay {
  background-color: #313244; /* Surface0 */
  opacity: 0.9;
  padding: 20px 10px;
}

.widget-mpris-album-art {
  border-radius: 12.6px;
  margin: 10px;
}

.widget-mpris-title {
  font-size: 0.8rem;
  color: #cdd6f4; /* Text */
}

.widget-mpris-subtitle {
  font-size: 1rem;
  color: #a6adc8; /* Subtext0 */
}

.widget-mpris button {
  border-radius: 12.6px;
  color: #cdd6f4; /* Text */
  margin: 0 5px;
  padding: 2px;
}

.widget-mpris button:hover {
  background-color: #313244; /* Surface0 */
}

.widget-mpris button:active {
  background-color: #45475a; /* Surface1 */
}

.widget-mpris button:disabled {
  opacity: 0.5;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: #f38ba8; /* Red */
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #313244; /* Surface0 */
}

.control-center .widget-label > label {
  color: #cdd6f4; /* Text */
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding: 1rem 0;
}

.widget-volume label {
  color: #a6e3a1; /* Green */
  padding: 0 1rem;
}

.widget-volume trough highlight {
  background: #a6e3a1; /* Green */
}

.widget-backlight trough highlight {
  background: #f9e2af; /* Yellow */
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #f9e2af; /* Yellow */
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}

