* {
  all: unset;
  font-size: 12px;
  font-family: "Iosevka Nerd Font", "Symbols Nerd Font Mono";
  transition: 200ms;
}

trough highlight {
  background: #3e8fb0;
}

scale {
  margin: 0 7px;
}

scale trough {
  margin: 0rem 10rem;
  min-height: 8px;
  min-width: 70px;
  border-radius: 12px;
}

trough slider {
  margin: -10px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
  background-color: #c4a7e7;
}

trough slider:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 8px #c4a7e7;
}

trough {
  background-color: #393552;
}

.notification-background {
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5), inset 0 0 0 1px #44415a;
  border-radius: 12px;
  margin: 16px;
  background: #232136;
  color: #e0def4;
  padding: 0;
}

.notification-background .notification {
  padding: 8px;
  border-radius: 12px;
}

.notification-background .notification.critical {
  box-shadow: inset 0 0 8px 0 #eb6f92;
}

.notification .notification-content {
  margin: 8px;
}

.notification .notification-content overlay {
  margin: 4px;
}

.notification-content .summary {
  color: #e0def4;
}

.notification-content .time {
  color: #6e6a86;
}

.notification-content .body {
  color: #908caa;
}

.notification > *:last-child > * {
  min-height: 3.4em;
}

.notification-background .close-button {
  margin: 8px;
  padding: 2px;
  border-radius: 6px;
  color: #232136;
  background-color: #eb6f92;
}

.notification-background .close-button:hover {
  background-color: #ea9a97;
}

.notification-background .close-button:active {
  background-color: #f6c177;
}

.notification .notification-action {
  border-radius: 8px;
  color: #e0def4;
  box-shadow: inset 0 0 0 1px #44415a;
  margin: 4px;
  padding: 8px;
  background-color: #393552;
}

.notification .notification-action:hover {
  background-color: #44415a;
}

.notification .notification-action:active {
  background-color: #56526e;
}

.notification.critical progress {
  background-color: #eb6f92;
}

.notification.low progress,
.notification.normal progress {
  background-color: #3e8fb0;
}

.notification progress,
.notification trough,
.notification progressbar {
  border-radius: 12px;
  padding: 3px 0;
}

.control-center {
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.6), inset 0 0 0 1px #393552;
  border-radius: 12px;
  background-color: #232136;
  color: #e0def4;
  padding: 14px;
}

.control-center .notification-background {
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #44415a;
  margin: 4px 10px;
}

.control-center .notification-background .notification {
  border-radius: 8px;
}

.control-center .notification-background .notification.low {
  opacity: 0.8;
}

.control-center .widget-title > label {
  color: #e0def4;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 8px;
  color: #e0def4;
  background-color: #393552;
  box-shadow: inset 0 0 0 1px #44415a;
  padding: 8px;
}

.control-center .widget-title button:hover {
  background-color: #44415a;
}

.control-center .widget-title button:active {
  background-color: #56526e;
}

.control-center .notification-group {
  margin-top: 10px;
}

scrollbar slider {
  margin: -3px;
  opacity: 0.8;
}

scrollbar trough {
  margin: 2px 0;
}

.widget-dnd {
  margin-top: 5px;
  border-radius: 8px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: #393552;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: #3e8fb0;
}

.widget-dnd > switch slider {
  background: #44415a;
  border-radius: 8px;
}

.widget-mpris-player {
  background: #393552;
  border-radius: 12px;
  color: #e0def4;
}

.mpris-overlay {
  background-color: #393552;
  opacity: 0.9;
  padding: 20px 10px;
}

.widget-mpris-album-art {
  border-radius: 12px;
  margin: 10px;
}

.widget-mpris-title {
  font-size: 0.8rem;
  color: #e0def4;
}

.widget-mpris-subtitle {
  font-size: 1rem;
  color: #6e6a86;
}

.widget-mpris button {
  border-radius: 12px;
  color: #e0def4;
  margin: 0 5px;
  padding: 2px;
}

.widget-mpris button:hover {
  background-color: #393552;
}

.widget-mpris button:active {
  background-color: #44415a;
}

.widget-mpris button:disabled {
  opacity: 0.5;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: #eb6f92;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #393552;
}

.control-center .widget-label > label {
  color: #e0def4;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding: 1rem 0;
}

.widget-volume label {
  color: #3e8fb0;
  padding: 0 1rem;
}

.widget-volume trough highlight {
  background: #3e8fb0;
}

.widget-backlight trough highlight {
  background: #f6c177;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #f6c177;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}
